.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 3. Uso de elementos de protección personal
            .tituloPrincipal__icono 

    .row.justify-content-center.my-5
        .col-12
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/n601P2KnrgU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p 
                        strong Plan de contención COVID-19 / Colocación y retirada de equipos de protección individual


    .header-arrow.my-5
        h3.text-center Cómo quitarse y cómo ponerse el equipo de protección personal.
        p.text-light.text-center.my-2 Infografías de la OPS.

    .row.justify-content-center.align-content-center.mt-5
        .col-12.col-md-8.col-lg-6
            .card
            
                a(href="media/modulo-3/infografia-1.png",data-fancybox="gallery",data-caption="Cómo quitarse y cómo ponerse el equipo de protección personal",data-imagen="media/modulo-3/infografia-1.png")
                    img.card-img-top(src='media/modulo-3/infografia-1.png', alt='Cómo quitarse y cómo ponerse el equipo de protección personal')
                .card-body
                    .d-flex.flex-column
                        a.btn.btn-primary(href="media/modulo-3/infografia-1.png",data-fancybox="gallery",data-caption="Cómo quitarse y cómo ponerse el equipo de protección personal",data-imagen="media/modulo-3/infografia-1.png") <i class="fa fa-lg fa-search-plus"></i> Ampliar

