.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 5. Medidas de control ambiental
            .tituloPrincipal__icono 

    .row.my-5

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/D25SMA3y6kk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body
                    p
                        strong Introducci贸n a las medidas de control ambiental |  
                        | Las medidas de control ambiental en las instituciones de salud tienen como prop贸sito reducir la concentraci贸n de microgotas infecciosas capaces de generar alteraciones en el estado de salud de la poblaci贸n usuaria y trabajadora.


    .header-arrow.my-5
        h3.text-center Manejo de residuos hospitalarios


    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/u3HXkpxH-1Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Manejo de residuos hospitalarios de pacientes sospechosos de COVID-19

