.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 4. Lavado de manos
            .tituloPrincipal__icono 

    .row.my-5

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/N5iWzjNWh8A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    p 
                        strong ¿Cómo lavarse las manos de una forma segura?
                    p.my-3 
                        | En el anterior video podemos ver los pasos para lavar las manos de forma segura usando jabón y siguiendo las recomendaciones de la OMS.
                    .row
                        .col-12.col-sm-6.pl-0.mt-0
                            .media-link-btn.mt-3.mb-0
                                a(href="media/modulo-4/gpsc_lavarse_manos_poster_es.pdf", target="_blank").media-link      
                                    .media-link-btn__container        
                                        .media-link-btn__icon  
                                            img(src="../assets/images/icons/icon_pdf.svg", alt="").img-fluid     
                                        .media-link-btn__copy
                                            p #[strong Anexo]. ¿Cómo lavarse las manos? Infografía de la OMS.



    .header-arrow.my-5
        h3.text-center Sus 5 momentos para la higiene de manos.

    .row
        .col
            .card 
                .card-body

                    p Recuerde que para su seguridad y la seguridad del paciente, es importante el lavado de manos en estos 5 momentos:

                    .row.justify-content-between

                        .col-12.col-md-6
                            p.header-step.mt-5
                                span.header-step-number 01
                                span.header-step-title <strong>Lavado de manos antes de entrar en contacto con el paciente.</strong>

                            hr

                            p.header-step
                                span.header-step-number 02
                                span.header-step-title <strong>Lavado de manos antes de realizar un procedimiento limpio aséptico.</strong>

                            hr

                            p.header-step
                                span.header-step-number 03
                                span.header-step-title <strong>Lavado de manos inmediatamente después de un riesgo de exposición a líquidos corporales y tras quitarse los guantes.</strong>

                            

                        .col-12.col-md-6

                            p.header-step.mt-5
                                span.header-step-number 04
                                span.header-step-title <strong>Lavado de manos después de tener contacto con el paciente y la zona que lo rodea.</strong>

                            hr

                            p.header-step
                                span.header-step-number 05
                                span.header-step-title <strong>Lavado de manos antes de tocar cualquier objeto o mueble del entorno inmediato del paciente, cuando lo deje, incluso aunque no haya tocado al paciente.</strong>

                            

 

                    .row
                        .col-12.col-sm-6.pl-0.mt-4
                            .media-link-btn.mt-1
                                a(href="media/modulo-4/gpsc_5_momentos_poster_es.pdf", target="_blank").media-link      
                                    .media-link-btn__container        
                                        .media-link-btn__icon  
                                            img(src="../assets/images/icons/icon_pdf.svg", alt="").img-fluid     
                                        .media-link-btn__copy
                                            p #[strong Anexo]. Sus 5 momentos para la higienes de las manos. Infografía de la OMS.               


.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 Técnica de higiene de las manos usando gel antibacterial.
            .tituloPrincipal__icono 

    .row.my-5

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b-oDmJjbdoI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    p 
                        strong Técnica de higiene de las manos usando gel antibacterial.

                    p.my-3 
                        | Limpia tus manos con un gel a base de alcohol. Tener las manos limpias reduce la propagación de enfermedades como COVID-19.


    .header-arrow.my-5
        h3.text-center Recomendaciones adicionales



    p.mb-5 Otros aspectos a tener en cuenta en la higiene de las manos:

    .row.justify-content-between

        .col-12.col-md-6

            p.header-step
                span.header-step-number 01
                span.header-step-title <strong>Las uñas cortas deben ser de 2 mm y no llevar esmalte.</strong> 

            hr

            p.header-step
                span.header-step-number 02
                span.header-step-title <strong>No se deben llevar reloj de pulsera, anillos, sortijas, etc. </strong>

            hr

            p.header-step
                span.header-step-number 03
                span.header-step-title <strong>Posterior a enjuagarse las manos con agua, secarlas completamente con toalla desechable. </strong>

            hr

            p.header-step
                span.header-step-number 04
                span.header-step-title <strong>Utilizar la toalla para cerrar el grifo, si no se dispone de lavamanos con sensor infrarrojo o de pedal.</strong>

        .col-12.col-md-6

            p.header-step
                span.header-step-number 05
                span.header-step-title <strong>Retirar exhaustivamente el jabón antimicrobiano con el fin de evitar dermatitis.</strong> 

            hr

            p.header-step
                span.header-step-number 06
                span.header-step-title <strong>Tras aplicar preparaciones alcohólicas, dejar que las manos se sequen por completo antes de colocarse los guantes estériles.<strong>

            hr

            p.header-step
                span.header-step-number 07
                span.header-step-title <strong>El uso de guantes limpios o quirúrgicos no exime de la higienización de manos.  <strong>

                                  

    .card.mt-5
        .card-header
            h3.mb-0 Equipos y Elementos
        .card-body
            

            .row.justify-content-between.align-items-center
                .col-12.col-md-6

                    figure
                        img(src="images/modulo-4/equipo.svg").img-fluid

                .col-12.col-md-6
                    p.header-step
                        span.header-step--title <strong>Lavamanos con sensor infrarrojo o de pedal.</strong> 

                    hr

                    p.header-step
                        span.header-step--title <strong>Lavamanos monocontrol.</strong> 

                    hr

                    p.header-step
                        span.header-step--title <strong>Jabón antimicrobiano a base de clorhexidina al 4 % preferiblemente líquido.<strong>

                    hr

                    p.header-step
                        span.header-step--title <strong>Alcohol al 70 % glicerinado.<strong>

                    hr

                    p.header-step
                        span.header-step--title <strong>Toalla desechable.<strong>
