.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 2. Precauciones según mecanismo de transmisión
            .tituloPrincipal__icono 



    section.card-border-bottom

        .card.mb-5
            img(src="images/modulo-2/Precauciones.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number INFOGRAFÍA
                    span.header-step--title Precauciones según mecanismo de transmisión


        .header-arrow.my-5
            h3.text-center Qué EPP usar en qué situación
            p.text-light.text-center.my-2 Infografías de la OPS.


        .row.justify-content-center.align-content-center.mt-5
            .col-12.col-md-8.col-lg-6
                .card
                    a(href="media/modulo-3/infografia-2.png",data-fancybox="gallery",data-caption="Qué EPP usar en qué situación.",data-imagen="media/modulo-3/infografia-2.png")
                        img.card-img-top(src='media/modulo-3/infografia-2.png', alt='Qué EPP usar en qué situación.')
                    .card-body
                        .d-flex.flex-column
                            a.btn.btn-primary(href="media/modulo-3/infografia-2.png",data-fancybox="gallery",data-caption="Qué EPP usar en qué situación.",data-imagen="media/modulo-3/infografia-2.png") <i class="fa fa-lg fa-search-plus"></i> Ampliar


        .row.justify-content-center
            .col-12.col-md-6
                .media-link-btn
                    a(href="media/documentos/EPP_para_COVID-19_en_el_sector_hospitalario.pdf", target="_blank").media-link      
                        .media-link-btn__container        
                            .media-link-btn__icon  
                                img(src="../assets/images/icons/icon_pdf.svg", alt="").img-fluid     
                            .media-link-btn__copy
                                p #[strong Anexo]. Elementos de protección personal (EPP) para el sector hospitalario Pandemia de COVID-19
        



