.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 1. Generalidades y alcance
            .tituloPrincipal__icono 


    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bNDD81GFZ2U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    strong Información sobre el coronavirus | 
                    | En diciembre de 2019 se detectó un grupo de casos de neumonía en China, los investigadores encontraron que fue causado por un virus desconocido, ahora llamado el nuevo CORONAVIRUS o COVID-19. Acompáñanos a revisar lo que sabemos del nuevo virus.


    .row.justify-content-center.my-5
        .col-12
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TcmBK4JFRtM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p 
                        strong Generalidades y Alcance de la Bioseguridad | 
                        | Como trabajadores de la salud debemos conocer y cumplir con todos los aspectos relacionados con la bioseguridad para prevenir la exposición ocupacional a la infección por COVID-19.    
