.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 7. Ruta para el reporte de accidente de trabajo o enfermedad laboral de un trabajador de la salud por exposición a COVID- 19
            .tituloPrincipal__icono 


    .card.mb-0
        .card-body

            p
                .header-step
                    .header-step-number 01
                    .header-step-title El riesgo biológico ocupacional es aquel que surge de la exposición laboral a micro y macro organismos que puedan generar riesgos o daños al trabajador transmitidos a través del aire, la sangre y los fluidos corporales.

    section.my-0.pb-0

        .bg-brand-color-light.pt-5.px-5.pb-0.border-bottom-brand-color-dark

            .row.align-items-end

                .col-12.col-md-6
                    .wow.bounceInLeft(data-wow-delay="0.2s")
                        img(src="images/modulo-7/personaje-01.svg").img-fluid

                .col-12.col-md-6
                    .pb-xl-3.mb-xl-5.wow.bounceInRight(data-wow-delay="0.4s")

                        p 
                            span.header-step-number.mr-3.text-brand-color-dark 02
                            strong El personal que labora en instituciones prestadoras de servicios de salud IPS, tiene una exposición que se genera durante la atención de la fuente contaminante que puede ser:

                        ul.list-unstyled
                            li.mb-4
                                i.fa.fa-angle-right.fa-lg.mr-3
                                | Un ser vivo o un cadáver.

                            li.mb-4 
                                i.fa.fa-angle-right.fa-lg.mr-3
                                | Las secreciones producidas por ellos.

                            li.mb-4
                                i.fa.fa-angle-right.fa-lg.mr-3
                                | Por el uso de un elemento que fue utilizado durante la atención a las personas o animales o la manipulación con estos elementos.



        .card 

            .card-body

                //header.p-5.mb-5.pt-5
                    img(src="images/modulo-7/logo-oms-azul.svg").mx-auto
                .p-5
                    p
                        .header-step.align-items-center
                            .header-step-number 03
                            .header-step-title <strong>La OMS clasifica la peligrosidad de los microorganismos en 4 grupos de riesgo a partir de los siguientes criterios: </strong>


                .row.justify-content-center

                    .col-10.col-md-8
                        .card-media.bg-brand-color-light
                            .card-media__body                 
                                figure.card__figure
                                    img(src="images/modulo-7/m1.svg").img-fluid
                                p.card__copy 
                                    span 
                                        strong La patogenicidad:
                                        |  entendida como la capacidad de un microorganismo para producir una enfermedad.

                    .col-10.col-md-8
                        .card-media.bg-brand-color-light
                            .card-media__body                 
                                figure.card__figure
                                    img(src="images/modulo-7/m2.svg").img-fluid
                                p.card__copy 
                                    span 
                                        strong La transmisibilidad:
                                        | habilidad para desplazarse desde donde se liberan hasta la vía de infección de una persona (vía aérea, un vehículo común o por un vector) y puede ser por contacto directo, indirecto o transmitirse por gotas al estornudar, toser o hablar.

                .row.justify-content-center
            
                    .col-10.col-md-8
                        .card-media.bg-brand-color-light
                            .card-media__body                 
                                figure.card__figure
                                    img(src="images/modulo-7/m3.svg").img-fluid
                                p.card__copy 
                                    span 
                                        strong La infectividad:
                                        |  habilidad para penetrar o vencer barreras defensivas naturales o inducidas del individuo (Puede ser su sistema inmune, por ejemplo).

                    .col-10.col-md-8
                        .card-media.bg-brand-color-light
                            .card-media__body                 
                                figure.card__figure
                                    img(src="images/modulo-7/m4.svg").img-fluid
                                p.card__copy 
                                    span 
                                        strong La virulencia: 
                                        | capacidad para ocasionar enfermedad, lo que significa que a mayor virulencia más grave será la enfermedad.
            
                hr.mt-5

                .p-5

                    .header-step.align-items-center
                        .header-step-number 04
                        .header-step-title <strong>Los 4 grupos de riesgo clasificados por la OMS son:</strong>

                    .row.justify-content-center.my-5
                
                        .col-10.col-md-8
                            .card-media.bg-brand-color-light(style="background: #FEF8A6;")
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="images/modulo-7/imgP01.svg").img-fluid
                                    p.card__copy 
                                        span 
                                            strong Grupo de riesgo 1:
                                            br
                                            | Microorganismos con mínimo riesgo individual y colectivo con pocas probabilidades de causar enfermedades en humanos o en animales. Incluye aquellos microorganismos, bacterias, hongos, virus y parásitos, que no causan enfermedades a trabajadores de la salud y animales.

                        .col-10.col-md-8
                            .card-media.bg-brand-color-light(style="background: #FDDFB1;")
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="images/modulo-7/imgP02.svg").img-fluid
                                    p.card__copy 
                                        span 
                                            strong Grupo de riesgo 2:
                                            br
                                            | Microorganismos con moderado riesgo individual y riesgo comunitario limitado, incluye patógenos que pueden causar enfermedades a humanos o animales, pero que bajo condiciones normales no producen riesgos serios a trabajadores de la salud, la comunidad, los recursos naturales o el medioambiente. Existen medidas eficaces y el riesgo de propagación es limitado.                       

                 
                        .col-10.col-md-8
                            .card-media.bg-brand-color-light(style="background: #F9BDA7;")
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="images/modulo-7/imgP03.svg").img-fluid
                                    p.card__copy 
                                        span                                            
                                            strong Grupo de riesgo 3:
                                            br
                                            | Microorganismos con alto riesgo individual y bajo riesgo comunitario, que causan enfermedades a humanos o animales serias, o que pueden resultar en serias consecuencias económicas, pero que normalmente no se transmiten por contacto casual de un individuo a otro. Se cuenta con tratamiento con agentes antimicrobianos o antiparasitarios. 

                        .col-10.col-md-8
                            .card-media.bg-brand-color-light(style="background: #F8A4A7;")
                                .card-media__body                 
                                    figure.card__figure
                                        img(src="images/modulo-7/imgP04.svg").img-fluid
                                    p.card__copy 
                                        span 
                                            strong Grupo de riesgo 4:
                                            br
                                            | Microorganismos con alto riesgo individual y comunitario.  Generalmente producen enfermedades muy graves en humanos o animales, sin tratamiento en la mayoría de las veces, que pueden transmitirse fácilmente de un individuo a otro, o de animales a humanos y viceversa, directa, indirectamente o por contacto.                                             


                    p En la actualidad la pandemia generada por <strong>el COVID-19 ha sido clasificada en riesgo 4</strong> por el comportamiento de la transmisión del virus coronavirus, y por el hecho de no contar con tratamiento para la enfermedad ni con un mecanismo de protección como la vacuna, siendo el personal de salud un grupo altamente vulnerable por el nivel de exposición ocupacional generada por el contacto directo con personas afectadas por el virus, durante la prestación de servicios en salud.

        
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 ¿Cuándo se considera la infección por COVID-19 como un posible evento de origen laboral?
            .tituloPrincipal__icono 


    .row.align-items-center.justify-content-between.my-5
        .col-auto.d-none.d-md-inline-block
            img(src="images/modulo-7/img-01.svg").img-fluid
        .col-12.col-md-7
            p En la actualidad, obedeciendo a las condiciones de la emergencia sanitaria, el Gobierno Nacional estableció las líneas de acción que deben seguir los actores del Sistema de Seguridad Social Integral, “… con el objetivo de desplegar todos los mecanismos para proteger a la población, con énfasis especial en los trabajadores de la salud, que son el grupo más expuesto al riesgo de contraer la infección por Covid-19 debido a su labor”. (Minsalud, 2020).


    .header-arrow.my-5
        p.text-center.text-white La Ruta para el Reporte de Accidente de Trabajo o Enfermedad de origen laboral de un Trabajador de la Salud por Exposición a COVID 19, creada por el Ministerio de Salud y Protección Social, establece cuales son las acciones que deben realizar empleadores y contratantes con el fin de:


    article.row.justify-content-center

        .col-12.col-md-8
            .header-step.align-items-center
                .header-step-number 01
                .header-step-title Generar alertas sobre posibles eventos de origen laboral que puedan suceder durante la prestación de servicios de salud. 

            hr 

            .header-step.align-items-center
                .header-step-number 02
                .header-step-title Hacer efectiva la protección que brinda el Sistema General de Riesgos Laborales, a los trabajadores de la salud que le están haciendo frente a esta emergencia sanitaria. 

            hr

            .header-step.align-items-center
                .header-step-number 03
                .header-step-title Anunciar a las entidades competentes que deben iniciar el proceso de calificación del origen del evento.


    
    .bg-brand-color-light.pt-5.px-5.pb-0.border-bottom-brand-color-dark(style="margin-top:140px").position-relative

        .row.align-items-end
            .col-12.col-md-6

                .position-absolute(style="top:-270px", data-wow-delay="0.4s").wow.bounceInUp.d-none.d-md-block
                    img(src="images/modulo-7/img-02.svg").img-fluid

            .col-12.col-md-6
                p.pb-3 Se considerará como <strong>accidente de trabajo</strong> la exposición repentina a fluidos biológicos por otros eventos, como pinchazos, salpicaduras y heridas con elementos cortopunzantes que sucedan durante la prestación de servicios de salud, a un paciente confirmado o sospechoso de infección por COVID 19, sin protección y que impliquen:



    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-brand-color-light
                .card-media__body                 
                    figure.card__figure
                        img(src="images/modulo-7/icon-01.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Salpicadura de fluidos biológicos o secreciones respiratorias que comprometan la membrana de los ojos, boca o nariz ola piel lastimada del trabajador.

        .col-10.col-md-8
            .card-media.bg-brand-color-light
                .card-media__body                 
                    figure.card__figure
                        img(src="images/modulo-7/icon-02.svg").img-fluid
                    p.card__copy 
                        span 
                            | Pinchazo o cortadura con superficies afiladas en contacto con material contaminado con fluidos biológicos o secreciones respiratorias.

        .col-10.col-md-8.my-5

            .card.card-highlight.bg-danger
                .card-body

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-7/icon-03.svg", style="max-width: 80px").avatar-img
                        .col.ml-n2
                            p.text-white Se considera una <strong>enfermedad de origen laboral</strong> cuando el trabajador de la salud que atiende pacientes que ingresan con diagnóstico confirmado o presuntivo de infección por COVID 19, presenta síntomas respiratorios y prueba positiva para COVID 19.


    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 ¿Qué hacer cuando se presenta un trabajador de la salud con un evento de origen laboral generado por el COVID 19?
            .tituloPrincipal__icono 

    .row.my-5

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/aS45-0hy1o0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p.mb-4 Cuando el evento se considera un accidente de trabajo como consecuencia de la ocurrencia de un riesgo biológico, en un trabajador de la salud con exposición ocupacional, el empleador o contratante deberá realizar el reporte en el formato FURAT y remitirlo a la EPS y a la ARL donde se encuentre afiliado el trabajador.  Se inicia periodo de aislamiento preventivo.

                    p.mb-4 Así mismo, se da inicio al proceso de calificación a través de la prueba diagnóstica. Si la prueba es positiva, se declara accidente de origen laboral y la ARL deberá cancelar la incapacidad de origen laboral y las prestaciones económicas que se generen.  

                    p Si la prueba es negativa no se declara evento de origen laboral y el trabajador suspende el aislamiento y retorna a su sitio de trabajo.


    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 Generalidades de los factores de exposición y medidas de promoción
            .tituloPrincipal__icono 

    .row.my-5

        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='media/modulo-7/factores-exposicion/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p.mb-4 En el marco de la contingencia por el contagio por SARS-CoV-2 en el presente recurso podrá situarse en un triángulo el cual se ha denominado Triángulo de la vida del personal de primera línea SARS-CoV-2. En cada sitio del triángulo podrá acceder a la información en relación con los factores de exposición y medidas de prevención a tener en cuenta por el personal de las instituciones de salud.
