head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title EDT-BIOSEGURIDAD MEDIDAS PREVENTIVAS PARA COVID-19.
  meta(meta name="description" content="Este evento de divulgación tecnológica (EDT) pretende entregar al participante información actualizada sobre las medidas individuales y ambientales para la protección del profesional de la salud frente a la infección por COVID-19, así como información sobre la prevención de riesgos y reporte oportuno, según los lineamientos nacionales vigentes")   
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/fancybox.css', rel='stylesheet')
  link(href='../assets/css/animate.css', rel='stylesheet')
  link(href='../assets/css/main.css?v=2.3', rel='stylesheet')
  